/*Semantics*/

header{
	text-align: center;
	border-style: solid;
	border-color: blue;
	margin-top: 15px;
	background-image: url("../../images/block.jpg");
}

footer{
	background-image: url("../../images/block.jpg");
}


/*Elements*/

ul.a{
	 list-style-type: upper-roman;
}

a:link {
    color: green;
}

a:visited {
    color: red;
}

a:hover {
    color: blue;
}

a:active {
    color: yellow;
}

html{
	color: white;
	background-color: black;
}

ul > p{
	display: inline;
	font-size: 150%
}

ul > li{
	font-size: 150%;
	display: inline;
}	


/*Classes*/
.divin div{
	display: inline;
}

.button{
    background: url("../../images/BB.jpg");
    border: 3px green solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    background: black;
    color:red;
    width: 10%;
    margin: auto;
}

.clock{
	font-family: Thunder Lord;
	font-size: 3em;
}

.splurb{
	font-size: 1.25em;
	width: 750px;
	background-color: black;
}

.footer{
	background-image: url("../../images/block.jpg");
}

.header{
	background-image: url("../../images/block.jpg");
}

.underTitle{
	background-image: url("../../images/matrix.gif");
}

.head{
	text-align: center;
	display: block;
	display: inline;
}

.twenty{
	font-size: 20px;
}

.title{
	font-size: 4em;
	font-family: "Thunder Lord", Small Fonts Regular, Stencil Regular, System Bold;
	margin-top: 10px;

}

.ff{
	font-family: Thunder Lord;
}

.menu{
	text-align: center;
	font-family: Thunder Lord;
	display: block;
	display: inline;
}

.madness{
	font-size: .5em;
	font-family: LicensePl8;
}

.madness1{
	font-size: 3em;
	font-family: LicensePl8;
}

.left{
	float: left;
}

.right{
	float: right;
}

.QuestionsLeft{
	float: left;margin-left: 75px;
	background-color: white;
	color: black;
	padding-left: 2px;
	height: 600px;
	text-align: center;
}

.QuestionsRight{
	float: right; 
	margin-right: 20px; 
	background-color: white; 
	color: black; 
	padding-left: 2px; 
	height: 600px;
	text-align: center;
}

.me{
	 margin: 5px
}

.footplace{
	margin-right: 30px;
}

.iconplace{
	margin-right: 75px;width: 600px;
}

.lp{
font-family: LicensePl8;
}

.border{
	border-style: solid;
	border-color: blue;
	width: 45em;
}

.twl{
	float: left;
	margin-right: 15px;
}

.twr{
	float: right;
	margin-left: 15px;
}
